<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AtkSharp" version="3.22.25.24" targetFramework="net461" />
  <package id="CairoSharp" version="3.22.25.24" targetFramework="net461" />
  <package id="GdkSharp" version="3.22.25.24" targetFramework="net461" />
  <package id="GioSharp" version="3.22.25.24" targetFramework="net461" />
  <package id="GLibSharp" version="3.22.25.24" targetFramework="net461" />
  <package id="GtkSharp" version="3.22.25.24" targetFramework="net461" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.14.2" targetFramework="net472" />
  <package id="OpenTK" version="3.1.0" targetFramework="net461" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net461" />
  <package id="PangoSharp" version="3.22.25.24" targetFramework="net461" />
</packages>